/* https://www.color-hex.com/color/318ce7 */

/* https://www.color-hex.com/color/ffef00 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #d5e8fa;
}
